

.box {

    width:960px;
    height:1000px;
    margin: 0 auto;
    margin-top: 50px;
    background-color:#ffffff;
    color: #333;
    font-family: tahoma,simsun,'microsoft yahei',Helvetica,Arial,'sans-serif';
    font-size: 12px;
    line-height: 22px;  }

.box h1{font-family: microsoft yahei,tahama;
    font-size: 16px;
    font-weight: bold;
line-height: 40px;
    padding-left: 14px;
}

.box h3{border-bottom: 1px solid #d4e4c2;
    font-size: 12px;
    padding: 7px 15px;
    color: #333;
    font-weight: bold;

}

.box p {font-size: 14px;
    line-height: 30px;
    text-indent: 2em;
padding: 0 0 20px;


}

.main{width:615px;
    float: left;
}
.main p {font-size: 16px;


}
.main p:nth-child(3)
{
    padding-top: 50px;
}
.sidebar {width:310px;
    float: right;
    padding-top: 90px;
    overflow: hidden;

}
.sidebar a{   color: #006699;}

.sidebar a:hover{color:green;
text-decoration: underline;}

